body {
    background: #ddd;
    padding: 0;
    margin: 0;
}


.header {
    position: fixed;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    width: 100%;
    background-color: white;
    z-index: 99;
}


#body-overlay {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}




.overlay {
    position: fixed;
    top: 60px;
    left: -300px;
    z-index: 4;
    width: 300px;
    height: 100%;
    padding: .5rem 1rem;
    box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: ease 0.2s all;
}


body.overlay-open #body-overlay {
    display: block;
}

body.overlay-open .open {
    left: 0;
}




input,
textarea {

    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;

    :focus {
        border: 2px solid rgb(124, 138, 255);
    }

}


.track {
  margin-top: 50px;
}


.hex-cell {
  margin-right: 25px;
  position:relative;
}


.hex-cell .text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
}

.hex-row {
  margin-top: -7px;
}

.hex-row:nth-of-type(even) {
  padding-left: 25px;
}


.hex-row:nth-of-type(even) .hex-cell {
  margin-top: 0;
}

.hex-cell {
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  
  min-width: 27px;
  min-height: 27px;

}

.hex-cell[data-type="0"]  {
  background-color: #c11717;
}


.hex-cell[data-type="1"]  {
  background-color: #29c529;
}


.hex-cell[data-type="2"]  {
  background-color: #2525c7;
}


.hex-cell[data-type="3"]  {
  background-color: #cece26;
}

.hex-cell[data-type="4"]  {
  background-color: #b826b8;
}

.hex-cell[data-elapsed]  {
  border: solid 6px #000000;
}